ppl_Employees_To_DM.json
{
    "name": "ppl_Employees_To_DM",
    "properties": {
        "description": "Activity copies the file from Azure Blob Storage to Sink Table in the Database",
        "activities": [
            {
                "name": "sp_List_of_Males_In_UK",
                "description": "Activity queries the number of males in the UK",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Male_Employees_In_UK]",
                    "storedProcedureParameters": {
                        "city": {
                            "value": {
                                "value": "@pipeline().DataFactory",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "firstname": {
                            "value": {
                                "value": "@pipeline().DataFactory",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "lastname": {
                            "value": {
                                "value": "@pipeline().DataFactory",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureSqlDatabase1",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "sp_List_of_Females_In_UK",
                "description": "Activity queries the number of females in the UK",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Females_Employees_In_UK]",
                    "storedProcedureParameters": {
                        "city": {
                            "value": {
                                "value": "@pipeline().DataFactory",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "firstname": {
                            "value": {
                                "value": "@pipeline().DataFactory",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "lastname": {
                            "value": {
                                "value": "@pipeline().DataFactory",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureSqlDatabase1",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "lkp_Employees_In_UK",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "sp_List_of_Females_In_UK",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "sp_List_of_Males_In_UK",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "SELECT [empid],[lastname],[firstname],[city] FROM [dbo].[Employees] WHERE Country = 'UK'"
                    },
                    "dataset": {
                        "referenceName": "Employees_Table",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "fea_Populate_Employees_In_UK",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "lkp_Employees_In_UK",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('lkp_Employees_In_UK').output.value",
                        "type": "Expression"
                    },
                    "isSequential": false,
                    "activities": [
                        {
                            "name": "sp_Gender",
                            "type": "SqlServerStoredProcedure",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "storedProcedureName": "[dbo].[Gender]",
                                "storedProcedureParameters": {
                                    "firstname": {
                                        "value": {
                                            "value": "@pipeline().DataFactory",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "lastname": {
                                        "value": {
                                            "value": "@pipeline().DataFactory",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "AzureSqlDatabase1",
                                "type": "LinkedServiceReference"
                            }
                        },
                        {
                            "name": "lkp_Male_Employees",
                            "type": "Lookup",
                            "dependsOn": [
                                {
                                    "activity": "sp_Gender",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "AzureSqlSource",
                                    "sqlReaderQuery": "SELECT [lastname],[firstname] FROM [dbo].[Employees] WHERE [titleofcourtesy] = 'Mr.' "
                                },
                                "dataset": {
                                    "referenceName": "Employees_Table",
                                    "type": "DatasetReference"
                                },
                                "firstRowOnly": false
                            }
                        },
                        {
                            "name": "lkp_Female_Employees",
                            "type": "Lookup",
                            "dependsOn": [
                                {
                                    "activity": "sp_Gender",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "AzureSqlSource",
                                    "sqlReaderQuery": "SELECT [lastname],[firstname] FROM [dbo].[Employees] WHERE titleofcourtesy IN ('Mrs.','Ms.')"
                                },
                                "dataset": {
                                    "referenceName": "Employees_Table",
                                    "type": "DatasetReference"
                                },
                                "firstRowOnly": false
                            }
                        }
                    ]
                }
            }
        ],
        "annotations": []
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
